<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>WELCOME</h1>

    {% if registered %}

    <h1>Hello, Welcome {{user.username}} </h1> <br>
    <h1> {{ user.id }} </h1>
    <a href="{% url 'logout' %}">Logout</a>

    {% else %}

    <a href="{% url 'reg' %}">Register</a> <br>
    <a href="{% url 'log' %}">Login</a> <br>
    <a href="{% url 'reset_password' %}">Forgot Password?</a>

    {% endif %}
</body>

</html>