<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>UPDATE</h1>

    <form action="" method="POST">

        {% csrf_token %}


        <tr>
            <th><label for="id_name">Name:</label></th>
            {{ form.name }}
            <br>
        </tr>

        {{ Object.profile_picture.url }}
        <tr>
            <th><label for="id_profile_picture">Profile picture:</label></th> <br>
            <td>Currently: <img src="{{ Object.profile_picture.url }}" style="height: 100px; width: 10%;" alt=""> <br>
                Change:
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
            </td>
        </tr>
        <br>

        <input type="submit" value="Update">

    </form>

    {{ form }}

</body>

</html>